---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
		<title>Roast Me App</title>
		<style>
			* {
				box-sizing: border-box;
			}
			body {
				font-family: 'Nunito', sans-serif;
				font-size: 16px;
				background-color: #FFDC65;
				padding: 0;
				margin: 0;
			}
			label {
				display: block;
				margin-bottom: 1rem;
				font-size: 1.7rem;
			}
			input {
				display: block;
				padding: 1rem;
				width: 100%;
				border: 1px solid #ddd;
				font: inherit;
				border-color: #FFDC65;
				border-radius: 10px;
			}
			button {
				padding: 0.5rem;
				background: #FFDC65;
				color: black;
				font: inherit;
				font-size: 1.4rem;
				text-transform: uppercase;
				border: none;
				border-radius: 20px;
				transition: all 1s ease;
				margin-left: 8rem;
			}
			button:hover{
			padding: 1rem;
				background: black;
				color: white;
				font: inherit;
				font-weight: bold;
				text-transform: uppercase;
				border: 1px solid black;
				border-radius: 10px;
			}
			output {
				margin-top: 2rem;
				display: block;
				font-size: 20px;
				line-height: 1.5;
				margin-bottom: 2rem;
			}
			.indicator {
				position: fixed;
				align-items: center;
				justify-content: center;
				top: 0;
				left: 0;
				font-size: 3rem;
				color: black;
				background: white;
				display: none;
				font-weight: bold;
				font-size: 3rem;
				width: 100%;
				height: 100%;
				transition: all 5s ease;

			}
			.indicator:hover {
				position: fixed;
				align-items: center;
				justify-content: center;
				top: 0;
				left: 0;
				font-size: 3rem;
				color: white;
				background: black;
				display: none;
				font-weight: bold;
				font-size: 3rem;
				width: 100%;
				height: 100%;
			}
			.indicator.active {
				display: flex;
			}
			.waves-top,
			.waves-bottom {
				width: 100%;
				display: block;
			}
			.waves-top {
				margin-top: -2px;
				margin-left: -2px;
				width: calc(100% + 4px)
			}
			.waves-bottom {
				margin-top: 0px;
				margin-bottom: -20px;
			}
			.content-top {
				padding: 0rem;
				max-width: 700px;
				margin-left: 1rem;
			}
			.content-top {
			padding: 0rem;
			max-width: 700px;
			margin-left: 1rem;
		}
			h1 {
				font-size: 7rem;
				line-height: 80%;
				margin-left: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			.secondaryText {
				font-family: 'Times New Roman', Times, serif;
				font-size: 2.5rem;
				margin-top: 1rem;
				inline-size: 28rem;
			}
			.h2a {
				font-size: 1.2rem;
				padding-top: 15rem;
				display: flex;
				justify-content: center;
				margin-bottom: 0;
			}
			.h2b {
				text-decoration: underline;
				color: #464646;
				font-size: 1.2rem;
				padding-top: 0;
				display: flex;
				justify-content: center;
				margin-top: 0;
			}
			h3 {
				margin-top: 10rem;
				font-size: 3rem;
				line-height: 3rem;
			}
			.content-bottom {
				background-color: white;
				padding: 2rem;
			}
			
			}
			h3 {
				margin-top: 10rem;
				font-size: 3rem;
				line-height: 3rem;
			}
		</style>
	</head>
	<body>
		<svg class="waves-top" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" width="430.498" height="78.314" viewBox="0 0 430.498 78.314">
		  <path id="Path_8" data-name="Path 8" d="M327.145,67.984C126.973-74.993,22.379,41.264,22.379,41.264Z" transform="translate(452.877 75) rotate(180)" fill="#fff"/>
		  <path id="Path_7" data-name="Path 7" d="M0,51.825S16.218-63.989,194.917,41.976" transform="translate(194.917 75) rotate(180)" fill="#fff"/>
		  <rect id="Rectangle_14" data-name="Rectangle 14" width="430" height="34" transform="translate(0.396)" fill="#fff"/>
		</svg>

		<div class="content-top">
			<h1>boom, roasted.</h1>
			
			<p class="secondaryText">
				The app where you tell me
				a little bit about yourself
				and I personally roast you.
			</p>
			
			<h2 class="h2a">
				IF YOU'RE TOO MUCH OF A SISSY,
			</h2>
			<index>
				<meta title="Roast Me" />
			</index>
	<h2 class="h2b">
			<a href="/motivate">HERE'S A MOTIVATIONAL FRIEND.</a>
			</h2>
			
			</div>
			
			<svg class="waves-bottom" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" width="430.22" height="66.391" viewBox="0 0 430.22 66.391">
			  <path id="Path_5" data-name="Path 5" d="M282.452,385.1C82.28,291.145-.185,385.827-.185,385.827Z" transform="translate(0.185 -343.529)" fill="#fff"/>
			  <path id="Path_6" data-name="Path 6" d="M228.089,384.89s16.2-91.871,201.946.173" transform="translate(0.185 -343.529)" fill="#fff"/>
			  <rect id="Rectangle_15" data-name="Rectangle 15" width="430" height="25" transform="translate(0.185 41.391)" fill="#fff"/>
			</svg>

			<div class="content-bottom">
			<h3> Let's get to know eachother, shall we?</h3>
			<form>
				<label>
					Name <input id="name" type="text" required>
				</label>
				<label>
					Age <input id="age" type="number" required>
				</label>
				<label>
					Height <input id="height" type="text" required>
				</label>
				<label>
					Weight <input id="weight" type="number" required>
				</label>
				<label>
					Something Interesting About Yourself <input id="interests" type="text" required>
				</label>
				<button class="button">ROAST ME, BUCKO</button>
			</form>
			<output>
			</output>
			<div class="indicator">
				Preparing Roast...
			</div>
		</div>

		</svg>
		<script>
			const form = document.querySelector('form');
			form.addEventListener('submit', function(event) {
				event.preventDefault();
				document.querySelector('.indicator').classList.add('active');
				const data = {
				name: form.querySelector('#name').value,
				age: form.querySelector('#age').value,
				height: form.querySelector('#height').value,
				weight: form.querySelector('#weight').value,
				interests: form.querySelector('#interests').value
		};
				fetch("/api/ai.json", {
					//options
					method: "POST",
					body: JSON.stringify(data)
				}).then((respose) => respose.json ()).then((data) => {
					document.querySelector('.indicator').classList.remove('active');
					document.querySelector('output').innerHTML = data.message;
				}).catch(console.error);
			});
		</script>
	</body>
</html>

